---
---

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1" />
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/default.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/home.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/screen_size.css">
  <link rel="icon" href="https://github.com/{{ site.github_username }}.png?size=16">
  <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,700,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
</head>

<body>
  <a href="{{ site.baseurl }}/index.html" class="top_home_button" title="Home"></a>
  {{ content }}
  <script src="{{ site.baseurl }}/assets/scripts/typewriter.js"></script>
</body>
