---
layout: default
---

<div class="spacer_top"></div>

<div class="home_title">
  <!-- <h1>Hello human, I'm <span class="intermittent">Marco</span>.</h1> -->
  <h1 style="white-space: pre-wrap;">Ciao<span id="marco"></span></h1>
</div>

<div class="home_introduction">
  <p>I study Games Development at Edinburgh Napier University.<br>I love games, UI/UX design, my rabbit, my doggo.</p>
  <p style="white-space: pre-wrap;"><a href="mailto:{{ site.email }}">{{ site.email }}</a>  &middot;  <a href="https://github.com/{{ site.github_username }}/">GitHub</a>  &middot;  <a href="https://{{ site.itchio_username }}.itch.io/">itch.io</a></p>
  <p>Here's a few things I've been doing:</p>
</div>

<div class="blog_list">
  {% for post in site.posts %}

    <div class="blog_list_post" style="{% if post.preview_img %}background-image: url({{ site.baseurl }}{{ post.preview_img }});{% endif %}">

      <!-- <div class="overlay" style="{% if post.preview_img == nil %}opacity: 0;{% endif %}"></div> -->
      <div class="overlay"></div>

      <div class="blog_list_post_top_padding"></div>

      <div style="margin: auto; max-width: 380px; margin-bottom: 1em;">
        {% include tags.html post=post %}
      </div>

      {% include abstract.html post=post %}

      <a class="post_link_cover" href="{{ site.baseurl }}{{ post.url }}"></a>

    </div>

  {% endfor %}

  <div class="fake_post"></div>
  <div class="fake_post"></div>
  <div class="fake_post"></div>
  <div class="fake_post"></div>
  <div class="fake_post"></div>
  <div class="fake_post"></div>

</div>

<div class="bottom_navigation_buttons">
  {% include button.html type="filled" link=site.posts.first.url text="Start from the first one   &#10230;" %}
</div>

<div class="spacer_bottom"></div>

<script src="{{ site.baseurl }}/assets/scripts/home.js"></script>
