---
layout: default
---

{% include nav_dots.html%}

<div class="spacer_top"></div>

<div class="container">

  <div style="margin: auto; max-width: 380px; margin-bottom: 1em;">
    {% include tags.html%}
  </div>
  {% include abstract.html %}

</div>

<div class="space_between_abstract_and_content"></div>

<div class="container post">

  {% comment %}<p class="date typewriter">{{ page.date | date: '%B %Y' }}</p>{% endcomment %}

  {{ content }}

  <div class="bottom_navigation_buttons">

    {% include button.html link="/" text="Home" %}

    {% if page.previous.url %}
      {% include button.html link=page.previous.url text="Next   &#10230;" %}
    {% endif %}

  </div>

</div>

<div class="spacer_bottom"></div>

<<script>
  // Add the post date to the first paragraph that does not contain an image
  var container = document.getElementsByClassName("container post")[0];
  var ps = container.getElementsByTagName("p");
  for (i = 0; i < ps.length; i++)
  {
    if (ps[i].getElementsByTagName("img").length < 1)
    {
      var txt = "{{ page.date | date: '%B %Y' }}"
      {% if page.updated %}
        txt += ", updated {{ page.updated | date: '%B %Y' }}"
      {% endif %}
      txt += "\xa0\xa0\xa0&#92;&#92;&#92;\xa0\xa0\xa0";

      ps[i].insertAdjacentHTML("afterbegin", txt);

      break;
    }
  }
</script>
