.home_title {
  margin-bottom: 80px;
}

.home_introduction {
  margin-bottom: 160px;
}

.home_introduction p {
  text-align: center;
  margin-bottom: 1.23em;
}

.home_introduction p:last-child {
  margin-bottom: 0;
}
